<div class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">id</label>
    <div class="dropdown">
      <app-searchselect></app-searchselect>
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >รหัสหมวดสินค้า</label
    >
    <div class="dropdown">
      <!-- <app-searchselect></app-searchselect> -->
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">lang</label>
    <div class="dropdown">
      <!-- <app-searchselect></app-searchselect> -->
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label" style=""
      >ชื่อหมวดสินค้า</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label" style=""
      >imageName</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label" style=""
      >grandParentCode</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >departmentID</label
    >
    <div class="dropdown">
      <!-- <app-searchselect></app-searchselect> -->
    </div>
  </div>
</div>
