<h2>Department</h2>
<app-tabledata2 [tableAPI]="'department'"></app-tabledata2>

<nav aria-label="Page navigation example" style="margin-top:50px">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" routerLink="/department/1" routerLinkActive="active"
        >1</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" routerLink="/department/2" routerLinkActive="active"
        >2</a
      >
    </li>
    <li class="page-item">
      <a
        class="page-link"
        [routerLink]="['/department', 3]"
        routerLinkActive="active"
        >3</a
      >
    </li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

<!-- routerLinkActive="active" -->
