<h2>department</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="padding:20px">
  Value: {{ myForm.value | json }}
  <!-- <button (click)="getByID()">Get ByID</button> -->
  Mode: {{ FormMode }}
  <div class="modal-content" id="myModal" *ngIf="stageForm">
    <div class="modal-header" style="background-color:lightgrey">
      <h5 class="modal-title" id="exampleModalLabel">{{ formTitle }}</h5>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
       
<div class="mb-3"> 
     <label for="exampleFormControlInput1" class="form-label" style="">
          id
     </label>
     <input type="text" class="form-control" formControlName="id" id="exampleFormControlInput1" placeholder="">
</div>
<span class="text-danger" 
*ngIf="f.id.touched && f.id.errors?.required"> กรุณาป้อนค่า id </span>
<div class="mb-3"> 
     <label for="exampleFormControlInput1" class="form-label" style="">
          shopID
     </label>
     <input type="text" class="form-control" formControlName="shopID" id="exampleFormControlInput1" placeholder="">
</div>
<span class="text-danger" 
*ngIf="f.shopID.touched && f.shopID.errors?.required"> กรุณาป้อนค่า shopID </span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeForm()">
        ออก
      </button>
      <button type="submit" class="btn btn-primary">บันทึก</button>
    </div>
  </div>
  <!-- <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">
      Register  
    </button>
    
    
  </div> -->
</form>
<!-- <app-searchselect></app-searchselect> -->
<hr />
<div class="flex" style="display:flex" *ngIf="stageCrud">
  <button
    class="btn btn-primary"
    placement="bottom"
    ngbTooltip="Delete"
    (click)="setStageForm();newForm()"
    style="margin-left:auto;margin-right:10px"
  >
    เพิ่มข้อมูล
  </button>
</div>

<!-- สถานะ :: {{ stageCrud }} -->
<div style="padding:20px">
  <app-tabledata2
    [varModelTable]="varmodelTable"
    (MYIDOut)="setIDOnForm($event)"
    (MYIDOutDelete)="OnDelete($event)"
    *ngIf="stageCrud"
  ></app-tabledata2>
</div>

<!-- routerLinkActive="active" -->
