<h2>Department</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  Value: {{ myForm.value | json }}
  <!-- <button (click)="getByID()">Get ByID</button> -->
  <div class="modal-content" id="myModal" *ngIf="stageForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" style=""
          >ID</label
        >
        <input type="hidden" class="form-control" formControlName="id" />
        <span
          class="text-danger"
          *ngIf="f.departmentDesc.touched && f.departmentDesc.errors?.required"
        >
          Deparemtn Name is required
        </span>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" style=""
          >Department Code</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="departmentCode"
        />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" style=""
          >ชื่อหมวดสินค้า</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="departmentDesc"
        />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" style=""
          >lang</label
        >
        <input type="text" class="form-control" formControlName="lang" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary">Close</button>
      <button type="submit" class="btn btn-primary">บันทึก</button>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">
      Register
    </button>
  </div>
</form>
<!-- <app-searchselect></app-searchselect> -->
<button (click)="setStageForm()">Add</button>
สถานะ :: {{ stageCrud }}
<app-tabledata2
  [varModelTable]="varmodelTable"
  (MYIDOut)="setIDOnForm($event)"
  (MYIDOutDelete)="OnDelete($event)"
  *ngIf="stageCrud"
></app-tabledata2>

<!-- routerLinkActive="active" -->
